.product {
    width: 300px;
    height: 510px;
}

.product img {
    width: 268px;
    height: 268px;
}

.product-name {
    color: #0E161A;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
}