button {
    height: 90px;
    width: 290px;
    font-size: 28px;
    color: white;
    border: none;
    background-color: blue;
    transition: background-color 3s ease-in-out 1s,
        color 4s ease-in,
        border-radius 3s ease-in-out;
}

button:hover {
    background-color: green;
    color: black;
    border-radius: 50%;
}